#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

URxvt.colorBD:			#ffffff
URxvt.colorUL:			#ffffff
URxvt.geometry:			100x30
URxvt.cursorBlink:		true
URxvt.pointerBlank:		true
URxvt.font: 		 	-*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
URxvt.saveLines:		65535
URxvt.utmpInhibit:		true
URxvt.skipBuiltinGlyphs:	true
URxvt.perl-ext-common:		default,matcher
URxvt.url-launcher:		/usr/bin/firefox
URxvt.matcher.button:		1
URxvt.scrollColor:		#005577
URxvt.scrollstyle:		plain
URxvt.thickness:		6
URxvt.scrollBar_right:		true
URxvt.fading:			25
*.foreground:			#bfbfbf
*.background:			#000000
*.cursorColor:			#00ff00
*.color0:			#000000
*.color8:			#808080
*.color1:			#705050
*.color9:			#dca3a3
*.color2:			#60b48a
*.color10:			#c3bf9f
*.color3:			#dfaf8f
*.color11:			#f0dfaf
*.color4:			#506070
*.color12:			#94bff3
*.color5:			#dc8cc3
*.color13:			#ec93d3
*.color6:			#8cd0d3
*.color14:			#93e0e3
*.color7:			#dcdccc
*.color15:			#000000
