! Border color
URxvt.colorBD:              #ffffff
! Underlined color
URxvt.colorUL:              #ffffff
URxvt.cursorBlink:          true
URxvt.pointerBlank:         true

! transparancy
urxvt*depth:                32
urxvt*background:           rgba:0000/0000/0200/c800

!URxvt.keysym.C-equal:       font-size:increase
!URxvt.keysym.C-minus:       font-size:decrease
URxvt.saveLines:            65535
URxvt.utmpInhibit:          true
URxvt.skipBuiltinGlyphs:    true
URxvt.perl-ext-common:      default,matcher,resize-font,keyboard-select,clipboard,selection-to-clipboard
URxvt.keysym.M-s:           perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true
URxvt.scrollstyle:          plain
URxvt.borderWidth:          0
URxvt.internalBorder:       0
URxvt.externalBorder:       0
URxvt.depth:                32
*.foreground:               #bfbfbf
*.background:               #000000
*.cursorColor:              #00ff00
*.color0:                   #000000
*.color8:                   #808080
*.color1:                   #705050
*.color9:                   #dca3a3
*.color2:                   #60b48a
*.color10:                  #c3bf9f
*.color3:                   #dfaf8f
*.color11:                  #f0dfaf
*.color4:                   #506070
*.color12:                  #94bff3
*.color5:                   #dc8cc3
*.color13:                  #ec93d3
*.color6:                   #8cd0d3
*.color14:                  #93e0e3
*.color7:                   #dcdccc
*.color15:                  #000000
*fading:                    50
*fadeColor:                 black
*cursorColor:               #16A085
*pointerColorBackground:    #2B2C2B
*pointerColorForeground:    #16A085

Xft.dpi:                    96
Xft.antialias:              true
Xft.hinting:                true
Xft.rgba:                   rgb
Xft.autohint:               false
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcddefault
Xcursor.theme:              Chameleon-Pearl-Regular-0.5
Xcursor.size:               0

URxvt.loginShell:           true

URxvt*scrollTtyOutput:      false
URxvt*scrollTtyKeypress:    true
URxvt*scrollBar:            false
! Fonts
#define termfont xft:inconsolata:pixelsize=13:antialias=true:hinting=true
URxvt*font:                 termfont
URxvt*boldFont:             termfont
URxvt*italicFont:           termfont
URxvt*boldItalicFont:       termfont
